<h1>Page Administrateur</h1>

<a href="adminUtilisateur">Menu utilisateurs</a>
<br>
<a href="adminCommercial">Menu commerciaux</a>
<br>
<a href="adminProspect">Menu Prospect</a>
<br>
<a href="adminAppel">Menu Appel</a>
<br>

<a href="adminCommentaire">Menu commentaires</a>
<br>

<a href="adminFormateur">Menu formateurs</a>
<br>
<a href="adminCours">Menu Cours</a>
<br>

<a href="adminParticipant">Menu participant</a>
<br>
<a href="adminPaiement">Menu paiement</a>
<br>
<a href="adminFormation">Menu formation</a>
<br>

