<title>Gestion Formation</title>

<table>
    <tr>
        <td>id</td>
        <td>nom</td>
        <td>date début formation</td>
        <td>date fin formation</td>
        <td>prix</td>
        <td>Cours Associés à la formation</td>
        <td>Supprimer Formation</td>
        <td>Modifier Formation</td>
        <td>Enlever Cours d'une formation</td>

    </tr>
    
    <tr *ngFor = "let f of ListeFormation" >

        <td>{{f.id}}</td>
        <td>{{f.nom}}</td>
        <td>{{f.dateDebut}}</td>
        <td>{{f.dateFin}}</td>
        <td>{{f.prix}}</td>
        <td>
            <tr *ngFor = "let c of f.cours" >
                <td>{{c.nom}}</td>
            </tr>
        </td> 
        <td><button (click)="supprimerFormation(f.id)">Supprimer cette formation</button></td>
        <td><button (click)="modifierFormation(f)">Modifier cette formation</button></td>
        <td><button (click)="EnleverCoursFormations(f)">Enlever tous les cours des formations</button></td>

    </tr>
</table>


<h2>Ajouter/Modifier une formation</h2>


<form (ngSubmit)="ajouterFormation()">

    id : <input type="number" name="id" [(ngModel)]="FormationAAjouter.id"> 
    nom : <input type="text" name="mail" [(ngModel)]="FormationAAjouter.nom"> 
    date début formation : <input type="date" name="nom" [(ngModel)]="FormationAAjouter.dateDebut">
    date fin formation : <input type="date" name="prenom" [(ngModel)]="FormationAAjouter.dateFin">
    prix : <input type="number" name="prix" [(ngModel)]="FormationAAjouter.prix">
    cours : 
    
    <div *ngFor="let cours of ListeCours">
        <input type="checkbox" (change)="toggleSelection(cours.id)" [checked]="ListeIdCours.includes(cours.id)">
        {{cours.nom}}
      </div>
   
    <button type="submit">Ajouter/Modifier Formation</button>
</form>