<div class="jumbotron jumbotron-fluid teteAdmin">
    <div class="container">
        <h1 class="display-4">Gestion des prospects</h1>
        <p class="lead">Ici vous pouvez gérer les différents prospects</p>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <table class="table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Mail</th>
                    <th>Telephone</th>
                    <th>Statut</th>
                    <th>Appels</th>
                    <th>Commentaire</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                    <th>Conversion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of listeProspect">
                    <td>{{p.id}}</td>
                    <td>{{p.nom}}</td>
                    <td>{{p.prenom}}</td>
                    <td>{{p.mail}}</td>
                    <td>{{p.telephone}}</td>
                    <td>{{p.statut}}</td>
                    <td><button class="btn btn-primary" (click)="afficherAppel(p.id)">Afficher les appels</button></td>
                    <td><button class="btn btn-primary" (click)="afficherCommentaire(p.id)">Afficher les commentaires</button></td>
                    <td><button class="btn btn-warning" (click)="modifierProsepct(p)">Modifier</button></td>
                    <td><button class="btn btn-danger" (click)="supprimerProspect(p.id)">Supprimer</button></td>
                    <td><button class="btn btn-success" (click)="inscrireParticipant(p)">Inscrire</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>

    <div class="col-4">
        <h1>Ajouter / Modifier des prospects</h1>

        <br>
        <h2>Ajouter par Fichier csv</h2>
        <label for="fichier">Fichier csv (Attention à l'en-tête)</label>
        <br>
        <input type="file" name="fichier" (change)="onFileSelected($event)">
        <br>

        <button class="btn btn-success" (click)="validerCsv()">Envoyer la liste</button>
        <br>
        <h2>Ajouter/modifier un prospect par formulaire</h2>
        <div class="formulaire-container">
            <form (ngSubmit)="enregistrerProspect()" class="formulaire">
                <table>
                    <tr>
                        <input type="hidden" name="id" [(ngModel)]="prospect.id">
                        <td>
                            <div class="form-group">
                                <label for="nom">Nom</label>
                                <input class="form-control" type="text" name="nom" #focus autofocus
                                    [(ngModel)]="prospect.nom">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="prenom">Prenom</label>
                                <input class="form-control" type="text" name="prenom" [(ngModel)]="prospect.prenom">
                            </div>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <div class="form-group">
                                <label for="mail">Mail</label>
                                <input class="form-control" type="text" name="mail" [(ngModel)]="prospect.mail">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="telephone">Telephone</label>
                                <input class="form-control" type="text" name="telephone"
                                    [(ngModel)]="prospect.telephone">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="statut">Statut</label>
                                <input class="form-control" type="text" name="statut" [(ngModel)]="prospect.statut">
                            </div>
                        </td>


                        <td> <button class="btn btn-primary" type="submit">Enregistrer</button></td>
                    </tr>


                </table>

            </form>
        </div>
    </div>
</div>
<br>
<a href="menuAdmin">
    <<< Retour au menu administrateur</a>