<ul *ngIf="user.username!==null" class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="login">Page login</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="menuAdmin">Menu Admin</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a  class="nav-link active" href="javascript:void(0);" (click)="deconnection()">Se déconnecter</a>
      </li>
    
  </ul>
